<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :label %>
    <%= f.input :explanation %>
    <%= f.association :question_type %>
    <%= f.input :default_value %>
    <%= f.input :mandatory %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
