<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Explanation</th>
      <th>Question type</th>
      <th>Default value</th>
      <th>Mandatory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= question.label %></td>
        <td><%= question.explanation %></td>
        <td><%= question.question_type %></td>
        <td><%= question.default_value %></td>
        <td><%= question.mandatory %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
