<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @question.label %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type %>
</p>

<p>
  <strong>Default value:</strong>
  <%= @question.default_value %>
</p>

<p>
  <strong>Mandatory:</strong>
  <%= @question.mandatory %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
