<%- model_class = Experience -%>
<div class="page-header">
  <h1><%=t '.title', :default => Experience %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:startdate) %></th>
      <th><%= model_class.human_attribute_name(:enddate) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.id %></td>
        <td><%= experience.startdate %></td>
        <td><%= experience.enddate %></td>
        <td><%= experience.description %></td>
        <td><%=l experience.created_at, format: :long %></td>
        <td>
          <%= link_to experience_path(experience), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to experience_path(experience), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_experience_path,
            :class => 'btn btn-primary' %>
