<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @experience.role %>
</p>

<p>
  <strong>Company:</strong>
  <%= @experience.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @experience.user %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @experience.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @experience.enddate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
