<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_option.name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_option.question %>
</p>

<%= link_to 'Edit', edit_question_option_path(@question_option) %> |
<%= link_to 'Back', question_options_path %>
