<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :department %>
    <%= f.input :street %>
    <%= f.input :housenumber %>
    <%= f.input :housenumberextra %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :telephone %>
    <%= f.input :mobile %>
    <%= f.input :email %>
    <%= f.input :skype %>
    <%= f.input :linkedin %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
