<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Street</th>
      <th>Housenumber</th>
      <th>Housenumberextra</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>Country</th>
      <th>Telephone</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Skype</th>
      <th>Linkedin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.department %></td>
        <td><%= address.street %></td>
        <td><%= address.housenumber %></td>
        <td><%= address.housenumberextra %></td>
        <td><%= address.zipcode %></td>
        <td><%= address.city %></td>
        <td><%= address.country %></td>
        <td><%= address.telephone %></td>
        <td><%= address.mobile %></td>
        <td><%= address.email %></td>
        <td><%= address.skype %></td>
        <td><%= address.linkedin %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
