<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @address.department %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Housenumber:</strong>
  <%= @address.housenumber %>
</p>

<p>
  <strong>Housenumberextra:</strong>
  <%= @address.housenumberextra %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @address.telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @address.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @address.skype %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @address.linkedin %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
