<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reference.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @reference.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reference.address %>
</p>

<p>
  <strong>Education:</strong>
  <%= @reference.education %>
</p>

<p>
  <strong>Role:</strong>
  <%= @reference.role %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
