<h1>Listing educations</h1>

<table>
  <thead>
    <tr>
      <th>Resume</th>
      <th>User</th>
      <th>Education name</th>
      <th>Finished with certificate</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>School</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= education.resume %></td>
        <td><%= education.user %></td>
        <td><%= education.education_name %></td>
        <td><%= education.finished_with_certificate %></td>
        <td><%= education.startdate %></td>
        <td><%= education.enddate %></td>
        <td><%= education.school %></td>
        <td><%= education.description %></td>
        <td><%= link_to 'Show', education %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_education_path %>
